{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

<form role="form" action="/login" method="post">
{% module xsrf_form_html() %}
{% for field in form %}
    <div class="form-group {% if field.errors %}has-error {% end %}">
        {% raw field.label(class_="control-label") %}:
        {% raw field(placeholder=field.label.text, class_="form-control") %}
        {% if field.errors %}
            <span class="help-block with-errors"><ul class="list-unstyled">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% end %}
            </ul></span>
        {% end %}
    </div>
{% end %}
<button type="submit" class="btn btn-default">Submit</button>
</form>


{% end %}