{% extends 'base.html' %}

{% block content %}

{% block nav %}
<div class="pull-left col-md-2">

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <br>
            <div>
                <ul class="nav nav-pills nav-stacked">
                    {% for channel in rooms %}
                        <li {% if room and room.id == channel.id %} class="active" {% end %}><a href="/room/{{ channel.id }}">{{ channel.title }} </a></li>
                    {% end %}
                </ul>
                <br>
            </div>
        </div>
    </nav>
</div>
{% end %}

<div class="pull-left col-md-8">
{% block room_content %}
    <form class="navbar-form navbar-left" role="search" action="/rooms" method="get ">
        <div class="form-group">
            <input type="text" class="form-control" name="q" {% if q %} value="{{ q }}" {% end %} placeholder="Search channels">
        </div>
        <button type="submit" class="btn btn-info">Search channels</button>
    </form>

    <br><br><br>

    <form role="form" action="/rooms" method="post" class="navbar-form navbar-left">
        {% module xsrf_form_html() %}
        {% for field in form %}
            <div class="form-group {% if field.errors %}has-error {% end %}">
                {% raw field(placeholder=field.label.text, class_="form-control") %}
                {% if field.errors %}
                    <span class="help-block with-errors"><ul class="list-unstyled">
                    {% for error in field.errors %}
                      <li>{{ error }}</li>
                    {% end %}
                    </ul></span>
                {% end %}
            </div>
        {% end %}
        <button type="submit" class="btn btn-success">Create channel</button>
    </form>
{% end %}
</div>

{% end %}